#header {
  background-image: linear-gradient( rgb(52, 177, 235), rgb(4,108,199));
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}

#header a {
  text-decoration: none;
  color: white;
}

#header #title {
  color: rgb(32, 68, 153);
}

nav #logo
{
  width: 98px;
  margin-right: -6px;
}

button.button{
  border-color:rgb(61, 123, 238);
  border-style:double;
  border-radius: 10px;
  color:white;
  background-color:rgb(16, 3, 202);
  transition: border-color 0.3s;
  transition: box-shadow 0.3s;
}

button.button#delete{
  background-color:rgb(165, 0, 0);
  border-color:rgb(100,0,0);
  transition: border-color 0.3s;
  transition: box-shadow 0.3s;
}

button.button#delete:hover
{
  border-color:rgb(100,0,0);;
  box-shadow: 2px 0px 10px 0px rgb(100,0,0);;
}

button.button:hover
{
  border-color:rgb(61, 123, 238);
  box-shadow: 2px 0px 10px 0px rgb(61, 123, 238);
}

input[type = checkbox] {
  width: 50px;
}

select{
  border-radius: 10px;
  width:100%;
  font-size: 15px;
  float:left;

}

form [type = text]{
  border-radius: 10px;
  outline: none;
  border-style: double;
  border-color:cornflowerblue;
  transition: border-color 0.3s;
  transition: box-shadow 0.3s;
  width: 30%;
  text-align: center;
}

form input[type = text]:hover
{
  border-color:rgb(61, 123, 238);
  box-shadow: 2px 0px 10px 0px rgb(61, 123, 238);
}

form input[type = text]:focus
{
  border-color:blueviolet;
  box-shadow: 2px 0px 10px 0px blueviolet;
}

table{
  margin-top: 16px;
  width: 95%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}


table td#item
{
  margin-top: 16px;
  width: 25%;
  text-align: left;
}

/*Card avatar image*/
.card img
{
  float:left;
  width: 90px;
  padding-right: 10px;
  margin-top: 5px;
}

.card
{
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}

.card .card-body table img
{
  width: 52px;
  float: inherit;
  margin-right: 10px;
}

.card .card-body .Total-Price
{
  text-align: right;
}